{% extends 'base.html' %}
{% load static %}
{% block title %}
Dev Dashboard
{% endblock title %}
{% block content %}
<main id="main" class="mt-5">
    <section id="dashboard">
        <div class="container">
            <h1 class="text-center">
                {{request.user.name}} <br>
            </h1>
            <div id="searchBox">
                <input type="text" name="search" id="search" class="form-control m-0" placeholder="Search Stocks" onblur="this.value='';" onkeypress="search(this.value);">
                <div class="m-0 p-0 text-center" id="liveSearch">
                    
                </div>
            </div>
        </div>
    </section>
</main>
<section id="charts-data" class="container mt-3">
    <div class="d-flex flex-column">
        {% for i in charts %}
            {{ i | safe }}
        {% endfor %}
    </div>
</section>
<script>
    let domparse = new DOMParser();
    function search(stock){
        fetch("/search?q="+stock)
        .then((res)=> res.json())
        .then((data) => {
            document.getElementById("liveSearch").innerHTML = "";
            data.forEach(stock => {
                document.getElementById("liveSearch").innerHTML  += `<div class="m-2 p-0 d-flex flex-row align-items-center">
                        <p class="m-0 p-0">${stock.name}</p> 
                        <button type="button" id="${stock.sid}" onclick="addStock(this.id);" class="btn btn-sm btn-outline-success mx-2">+</button></div>`;
            });
            
        })
        .catch((error) => console.log(error))
    }
    function addStock(id){
        fetch("/addStock/"+id+"/")
        .then((res) => res.json())
        .then((data) => {
            location.reload();
        })
        .catch((error) => {
            console.log(error);
        });
    }
</script>
{% endblock content %}