{% extends 'base.html' %}
{% load static %}
{% block title %}
Dev Dashboard
{% endblock title %}
{% block content %}
<main id="main" class="mt-5">
    <section id="dashboard">
        <div class="container">
            <h1 class="text-center">
                {{request.user.name}} <br>
            </h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-info" type="button" onclick="editStock();">Add/Remove</button>
                </div>
                <select class="custom-select" id="searchStock">
                    <option selected hidden disabled value="null">Add/Remove Stock</option>
                    {% for i in stocks %}
                        <option value="{{i.sid}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>
</main>
<section id="charts-data" class="container mt-3">
    <div class="d-flex flex-column">
        {% for i in charts %}
            {{ i | safe }}
        {% endfor %}
    </div>
</section>
<section class="container mt-3">
    <h3 class="text-center">RSS Feed News</h3>
    <ul class="d-flex flex-column" id="news-data">
        
    </ul>
</section>
<script>
    function editStock(){
        fetch("/editStock/"+document.getElementById("searchStock").value+"/")
        .then((res) => res.json())
        .then((data) => {
            location.reload();
        })
        .catch((error) => {
            console.log("Invalid data sent.");
        });
    }
    window.onload = function getNews(){
        fetch("/rss/")
        .then((res) => res.json())
        .then((data) => {
            data.moneycontrol.forEach(news => {
                const node = document.createElement("li");
                const content = document.createTextNode(news.title);
                const linker = document.createElement("a")
                linker.href = news.link
                linker.innerHTML = ' <i class="fa fa-external-link"></i>'
                node.appendChild(content) 
                node.appendChild(linker)
                document.getElementById("news-data").appendChild(node)
            });
            data.indiatimes.forEach(news => {
                const node = document.createElement("li");
                const content = document.createTextNode(news.title);
                const linker = document.createElement("a")
                linker.href = news.link
                linker.innerHTML = ' <i class="fa fa-external-link"></i>'
                node.appendChild(content) 
                node.appendChild(linker)
                document.getElementById("news-data").appendChild(node)
            });
            data.ndtv.forEach(news => {
                const node = document.createElement("li");
                const content = document.createTextNode(news.title);
                const linker = document.createElement("a")
                linker.href = news.link
                linker.innerHTML = ' <i class="fa fa-external-link"></i>'
                node.appendChild(content) 
                node.appendChild(linker)
                document.getElementById("news-data").appendChild(node)
            });
        })
    }
</script>
{% endblock content %}