{% extends 'base.html' %}
{% load static %}
{% block title %}Stock Market Analyzer{% endblock title %}
{% block content %}
  <main>
    <div class="row">
      <div class="content side">
          An app developed by students to predict the stock market with high accuracy. 
          It uses sentiment analysis to identify the effect of news on stocks. <br>
          Made using Django, ChartJS, Scapy, ML and <i class="fa-regular fa-heart base-icon fa-lg"></i>
          <h2>Stock Market Analyzer</h2>
      </div>
      <div class="content side">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </main>
{% endblock content %}