{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/853e6dc438.js" crossorigin="anonymous"></script>
    <script src="{%static 'js/jquery.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
      <title>Signup</title>
  </head>
  <body class="login-body">
    <nav>
      <a href="">
        <img src="{% static 'transparent.png' %}" alt="Stock Market Analyzer">
      </a>
      <div class="nav-btns">
        Already have an account?
        <a href="/login" class="nav-links">Login</a>
        <button><i class="fa-solid fa-bars"></i></button>
      </div>
    </nav>
    </nav>
    <main>
      <div class="heading">Create an account</div>
      <div class="content">
        <form id="form" action="" method="post">
          {% csrf_token %}
            <input type="email" class="inputs" id="email" name="email" placeholder="Email Address" required><br>
            <input type="text" class="inputs" id="username" name="username" placeholder="Full Name" required><br>
            <input type="password" class="inputs" id="password" name="password" placeholder="Password" required><br>
          <input type="submit" id="form1" class="login-btn" value="Signup">
          {% if error%}
          <div style="text-align: center;color: red;font-weight: 800;font-size: 25px;">Invalid Details</div>
          {% endif %}
        </form>
      </div>
    </main>
    
  </body>
</html>

